# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [3]:
black_friday.head(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
black_friday.shape

(537577, 12)

In [5]:
black_friday[(black_friday['Age'] == '26-35') & (black_friday['Gender'] == 'F')].shape[0]

49348

black_friday('Gender')['User_ID'].nunique()

In [6]:
black_friday.User_ID.nunique()

5891

In [7]:
black_friday.dtypes.nunique()

3

In [8]:
black_friday.dropna().shape[0]

164278

In [9]:
(black_friday.shape[0] - black_friday.dropna().shape[0]) / black_friday.shape[0]

0.6944102891306734

In [10]:
black_friday['Product_Category_3'].isnull().sum().max()

373299

In [11]:
black_friday.isnull().sum().max()

373299

In [12]:
black_friday['Product_Category_3'].value_counts()

16.0    32148
15.0    27611
14.0    18121
17.0    16449
5.0     16380
8.0     12384
9.0     11414
12.0     9094
13.0     5385
6.0      4818
18.0     4563
4.0      1840
11.0     1773
10.0     1698
3.0       600
Name: Product_Category_3, dtype: int64

In [13]:
black_friday['Product_Category_3'].mode()[0]

16.0

In [14]:
mean_purchase = black_friday.Purchase.mean()

In [15]:
std_purchase = black_friday.Purchase.std()

black_friday['Purchase_norm'] = (black_friday.Purchase - mean_purchase) / std_purchase

black_friday['Purchase_norm']

type(black_friday['Purchase_norm'].mean())

black_friday[(black_friday['Purchase_norm'] >= -1) & (black_friday['Purchase_norm'] <=1)].shape[0]

mean_purchase = black_friday.Purchase.mean()
std_purchase = black_friday.Purchase.std()
black_friday['Purchase_norm'] = (black_friday.Purchase - mean_purchase) / std_purchase
return float(black_friday.Purchase_norm.mean())

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [16]:
def q1():
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [17]:
def q2():
    return black_friday[(black_friday['Age'] == '26-35') & (black_friday['Gender'] == 'F')].shape[0]

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [18]:
def q3():
    return black_friday.User_ID.nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [19]:
def q4():
    return black_friday.dtypes.nunique()

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [20]:
def q5():
    return (black_friday.shape[0] - black_friday.dropna().shape[0]) / black_friday.shape[0]

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [21]:
def q6():
    return black_friday.isnull().sum().max()

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [22]:
def q7():
    return int(black_friday['Product_Category_3'].dropna().mode())

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [23]:
def q8():
    return float(((black_friday['Purchase'] - black_friday['Purchase'].min()) / (black_friday['Purchase'].max() - black_friday['Purchase'].min())).mean())

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [24]:
def q9():
    mean_purchase = black_friday.Purchase.mean()
    std_purchase = black_friday.Purchase.std()
    black_friday['Purchase_norm'] = (black_friday.Purchase - mean_purchase) / std_purchase
    return black_friday[(black_friday['Purchase_norm'] >= -1) & (black_friday['Purchase_norm'] <=1)].shape[0]

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [41]:
def q10():
    df = black_friday[black_friday['Product_Category_2'].isna() == True]
    df2 = black_friday.iloc[df.index,:].Product_Category_3.isna()
    return df2.all().item()